{% extends "base.twig" %}
{% block content %}
<section class="bg-purple sy">
<div class="container">
  <div class="row justify-content-center">
<div class="col-lg-8 text-center tiny-editor">
  <h2>
    Certifications

  </h2>
  <p>
    Our strategic approach empowers businesses to thrive in a competitive landscape. We focus on tailored solutions that align with your unique goals.
  </p>
</div>
  </div>
  <!-- card -->
   <div class="row flex-column  border border-light">
    <!-- image box -->
     <div>
        <img src="/assets/images/certifications/certifications.png" alt="certifications" class="img-fluid mx-auto d-block">
     </div>
<p>Certificate Name</p>
<p>
    Our strategic approach empowers businesses to thrive in a competitive landscape. We focus on tailored solutions that align with your unique goals.
</p>

   </div>
</div>
</section>

{% include 'include/footer.twig' %} {% endblock %}