{% extends "base.twig" %} {% block content %}

<section class="bg-purple sy">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8 text-center tiny-editor">
        <h2>Certifications</h2>
        <p>
          Our strategic approach empowers businesses to thrive in a competitive
          landscape. We focus on tailored solutions that align with your unique
          goals.
        </p>
      </div>
    </div>

    <div class="row g-5 mt-8 tiny-editor op-p-50">
      {% for i in 1..4 %}
      <div class="col-lg-3">
        <div class="p-1 bg-white rounded-1 mb-4">
          <img class="rounded-1" src="{{ theme.link ~ '/src/img/aa.jpg' }}" />
        </div>

        <h5>Certificate Name</h5>
        <p>
          Our strategic approach empowers businesses to thrive in a competitive
          landscape. We focus on tailored solutions that align with your unique
          goals.
        </p>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
<!-- next section -->
<section class="bg-purple sy">
  <div class="container">
    <div class="row g-5 tiny-editor justify-content-center">
      {% for i in 1..4 %}
      <div class="col-lg-3">
        <div
          class="rounded-1 bg-gradient p-8 d-flex flex-column justify-content-between gap-3 space"
        >
          <h5>Lorem ipsum dolor sit amet, consectetur</h5>
          <p>
            Our strategic approach empowers businesses to thrive in a
            competitive landscape. We focus on tailored solutions that align
            with your unique goals.
          </p>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>

<!-- register section -->
<section
  class="banner sy"
  style="background-image: url({{ theme.link ~ '/src/img/faq/register-bg.jpg' }});"
>
  <div class="container">
    <div class="op-p-50 col-lg-6 align-items-start">
      <h2>Who can register?</h2>

      {% for i in 1..4 %}
      <!-- all text box -->
      <div class="mt-4 row g-4">
        <hr class="border border-white border-1 opacity-100" />
        <h5>Lorem ipsum dolor sit amet, consectetur</h5>
        <p>
          Our strategic approach empowers businesses to thrive in a competitive
          landscape. We focus on tailored solutions that align with your unique
          goals.
        </p>
      </div>
      {% endfor %}
      <hr class="border border-white border-1 opacity-100 mt-7" />
    </div>
  </div>
</section>

<!-- registration process  -->
<section class="bg-green sy">
  <!-- <div>
    <img src="{{ theme.link ~ '/src/img/faq/shadow.jpg' }}" alt="faq" />
  </div> -->

  <div class="container py-10">
    <!-- text with button -->
    <div class="col-lg-12">
      <div class="d-flex justify-content-between align-items-center">
        <h2>Registration Process</h2>
        <button class="btn btn-dark-green mt-4">Register Now</button>
      </div>
    </div>

    <div class="row g-5 tiny-editor justify-content-center mt-5">
      {% for i in 1..4 %}
      <div class="col-lg-3">
        <!-- card -->
        <div class="row g-5 op-p-50 arrow">
          <h3>01</h3>
          <p>
            Our strategic approach empowers businesses to thrive in a
            competitive landscape. We focus on
          </p>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>

{% include 'include/footer.twig' %} {% endblock %}
