{% extends "base.twig" %} {% block content %}

<section class="inner-banner pb-lg-7 bg-purple">
    <div class="container st">
        <h1>
            Terms &
            <strong>Conditions</strong>
        </h1>
    </div>
</section>

<section class="bg-white sy">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-9 tiny-editor">
                <p>The use of this Arab Energy Fund website (the “Website”) is governed by the terms and conditions set
                    forth below. By using this Website you agree to such terms and conditions, as they may be modified
                    by The Arab Energy Fund from time-to-time and posted on this Website.</p>
                <p>The Arab Energy Fund maintains this Website for information purposes only. Users may download, copy
                    and reprint information from the Website for non-commercial purposes, subject to any terms and
                    conditions contained within materials expressly attributed to third parties, so long as The Arab
                    Energy Fund is cited as the source of the originating material. Users may not place “frames” around
                    material from the Website without the express written authorization of The Arab Energy Fund.</p>
                <p>The contents of materials expressly attributed to third parties, including without limitation, the
                    rating reports by Moody’s Investors Service, and the contents of the Useful Links and Price Ticker,
                    are the property and responsibility of such third parties and not of The Arab Energy Fund. Use of
                    these documents is subject to the legal terms and conditions contained therein.</p>
                <p>This Website contains links to websites not under the control of The Arab Energy Fund. The Arab
                    Energy Fund provides these links as a convenience for users of its Website and is not responsible
                    for their contents. The presence of a link does not imply endorsement or approval of its contents by
                    The Arab Energy Fund.</p>
                <p>All information on the Website is provided “AS IS”, with no express or implied warranty of any kind,
                    including but not limited to any warranty of merchantability, suitability, non-infringement or
                    fitness for any particular purpose. Use of this Website is at user’s sole risk. The Arab Energy Fund
                    makes no warranty as to the accuracy, completeness or timeliness of any of the material on the
                    Website and under no circumstances, including but not limited to, negligence, shall The Arab Energy
                    Fund be liable for any direct, indirect, incidental, special or consequential expenses or damages
                    incurred by reason of its use, including expenses or damages arising from communication failure
                    and/or computer malfunctions associated with use of the Website. Information that relates to a
                    particular date is offered only as of such date and The Arab Energy Fund undertakes no obligation to
                    update any material on the Website. The Arab Energy Fund may, in its discretion, periodically add,
                    change, improve or update the materials on the Website without notice, and reserves the right to
                    limit or discontinue the Website or deny any user access thereto without notice.</p>
                <p>As a condition of use of the Website, the user agrees to indemnify The Arab Energy Fund from and
                    against any and all actions, claims, losses, damages, liabilities and expenses (including reasonable
                    attorneys’ fees) arising out of such user’s use of the Website, including without limitation any
                    claims alleging facts that if true would constitute a breach by the user of these terms and
                    conditions. If the user is dissatisfied with any material on the Website or with any of terms and
                    conditions of use of the Website, such user’s sole and exclusive remedy is to discontinue using the
                    Website.</p>
                <p>Nothing in the Website or any materials therein shall be construed, explicitly or implicitly, to
                    contain any investment recommendations. Nothing in this Website or in any materials therein
                    constitutes an offer of or an invitation by or on behalf of The Arab Energy Fund to purchase or sell
                    any securities, nor should it be considered investment advice.</p>
                <p>The Website contains materials relating to The Arab Energy Fund’s business and securities which are
                    provided for information purposes only. Such materials do not constitute an offer to sell or a
                    solicitation of an offer to buy any The Arab Energy Fund products or securities. The Arab Energy
                    Fund does not intend to solicit and is not soliciting any action with respect to any The Arab Energy
                    Fund securities through the Website.</p>
                <p>The Arab Energy Fund securities mentioned herein may not be eligible for sale in certain
                    jurisdictions or to certain persons and may be subject to other restrictions. Investors considering
                    purchasing The Arab Energy Fund securities should consult their own financial, legal and tax
                    advisors for information about such securities, the risks and investment considerations arising from
                    an investment in such securities, the appropriate tools to analyze such investment and the
                    suitability of such investment in each investor’s particular circumstances.</p>
                <p>Users of the “forums” pages contained on the Website may not engage in any illegal or defamatory
                    practices and are bound by the agreements described therein. The Arab Energy Fund reserves the right
                    to remove at any time and without notice material sent to such forums.</p>
                <p>The Website is controlled, operated and administered by The Arab Energy Fund from its offices within
                    the Kingdom of Saudi Arabia and Bahrain. The Arab Energy Fund makes no representation that materials
                    at the Website are appropriate or available for use at other locations outside of the Kingdom of
                    Saudi Arabia and Bahrain. Access to the materials on the Website at any location where such content
                    may be illegal is prohibited. If you access the Website from a location outside of the Kingdom of
                    Saudi Arabia, you are solely responsible for compliance with local laws.</p>
                <p>The opinions and findings of authors or compilers contained herein are not necessarily those of The
                    Arab Energy Fund or its member countries. Except as otherwise noted, the material on the Website is
                    the property of The Arab Energy Fund and is subject to the copyright, trademark and other
                    intellectual property laws of the Kingdom of Saudi Arabia and other jurisdictions. All uses of the
                    Website are subject to these laws.</p>
                <p>These terms and conditions will be governed, interpreted and enforced in accordance with the laws of
                    the Kingdom of Saudi Arabia, without giving effect to the conflict of laws provisions of that
                    jurisdiction. No waiver by The Arab Energy Fund of any provision of these terms and conditions shall
                    be binding except as set forth in writing signed by its duly authorized representative.</p>
                <p>Nothing in the Website shall constitute or be considered to be a limitation upon or a waiver of the
                    privileges and immunities of The Arab Energy Fund, which are specifically reserved.</p>

            </div>
        </div>
    </div>
</section>
 

{% include 'include/footer.twig' %} {% endblock %}