/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
               Debugger Tool
 ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.gsapTool {
  position: fixed;
  background: #141e22;
  color: #fff;
  z-index: 999;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  button {
    background-color: transparent;
    width: 6rem;
    border: 1px solid white;
    border-radius: 0.2rem;
    font-size: 0.8rem;
    padding: 0.5rem 1rem;
    margin-left: 1rem;
    color: #fff;
  }

  #slider {
    width: 100%;
    margin: 1rem;
  }

  #time {
    width: 80px;
  }
}
