
.content-wrap{
	width: 35%;
	height: auto;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}

.content--layout {
  display: flex;
  flex-wrap: wrap;
}

.content__img {
  max-width: 100%;
  height: auto;
}

.content__img--1 {
  /* aspect-ratio: 896/1344; */
  aspect-ratio: 1;

}

.content__img--6 {
  aspect-ratio: 1;
}

.border {
  border: 1px solid white;
}
