@use "../media" as *;


header {
  position: fixed;
  padding-top: 1rem;
  top: 0rem;
  z-index: 101;

  ul li {
    display: inline-block;
    list-style: none;
  }

  a {
    margin-left: 1.5rem;
    line-height: 1.8rem;
    font-weight: normal;
    color: var(--cream);
    font-size: 1.8rem;

    &.active:before {
      transform: translateX(0%);
    }
  }


  &.active {
    // background: linear-gradient(180deg, rgba(62, 9, 55, 0.60) 31.56%, rgba(130, 113, 128, 0.00) 100%);
    // backdrop-filter: blur(0px);
  }


}

.header-logo {
  img {
    max-width: 16rem;
  }
}

.p-top {
  padding-top: calc(var(--grid-padding) + 6rem) !important;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
                Socials
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.socials {
  display: inline-flex;

  svg {
    height: 2rem;
    width: 2rem;
    fill: var(--orange);
  }
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
                 Drodown 👇 👇 👇 
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
.hasDropdown {
  padding-bottom: 0;
  position: relative;

  &.active>a.linehover::before {
    transform-origin: left center;
    transform: scale(1, 1);
  }

  svg {
    transform: rotate(90deg);
  }

  .dropdown-menu {


    visibility: hidden;
    pointer-events: all;

    min-width: 15rem;
    list-style: none;
    position: absolute;
    background: var(--orange);
    top: 135%;
    border-radius: 3px;
    padding: 1rem;
    left: 0;
    opacity: 0;

    transform: translate3d(0px, 2rem, 0px);
    transition: opacity 0.2s ease-in-out,
      visibility 0.2s ease-in-out,
      transform 0.2s ease-in-out !important;

    li {
      display: block;
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;

      a {
        width: fit-content;
        display: block;
        color: white;
      }
    }

    &:after {
      display: block;
      content: "";
      position: absolute;
      top: -6px;
      left: 15px;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 1rem 0.9rem;
      border-color: transparent transparent var(--orange);
    }
  }

  .dropdown-menu.disappear {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }

  &:hover ul.dropdown-menu {
    opacity: 1;
    visibility: visible;
    transform: translate3d(0px, 0px, 0px);
  }
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        <ul>
          <li class="hasDropdown">
            Home
            <ul class="dropdown-menu">
              <li><a href="#dd">dropdown-menu</a></li>
              <li><a href="#d">dropdown-menu</a></li>
            </ul>
          </li>
          <li><a class="lineHover" href="pageColor.php">Page Color</a></li>
          <li><a class="lineHover" href="hoversection.php">Hover</a></li>
          
       </ul>            
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/