$bg-primary: #8bbabb;
$bg-secondary: #e6cfa1;
$text-primary: #3e0937;

.container {
  .child {
    background-color: $bg-primary;
    height: 14.8rem;
    border-radius: 0.6rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0rem 2rem;

    .content {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 1.5rem;
      color: $text-primary;
      width: 40%;
      h4 {
        font-size: 1.8rem;
        font-weight: 400;
      }
      p {
        font-size: 1.12rem;
      }
    }

    .cta-btn {
      button {
        background-color: $bg-secondary;
        font-size: 1rem;
        font-weight: 500;
        padding: 1rem 3rem;
        border-radius: 6.25rem;
        text-transform: uppercase;
      }
    }
  }

  .dot-img {
    position: absolute;
    right: 0;
    top: 0;
  }
}
