/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
                 Video Play Button
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

$size: 6rem;
$bg: var(--orange);

.play-btn {
    position: absolute;
    top: calc(50% - $size/2);
    left: calc(50% - $size/2);
    z-index: 12;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $bg;
    border-radius: 50%;
    transition: transform 0.2s ease;
    height: $size;
    width: $size;

    svg {
        height: 1.75rem;
        width: 1.75rem;
        fill: white;
    }
}

.vid-banner {
    position: relative;
    cursor: pointer;

    &:hover .play-btn {
        transform: scale(1.1);
    }
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
                Buttons
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.btn {
    cursor: pointer;
    user-select: none !important;
    display: inline-block;

    &:focus {
        outline: 0px;
    }

    background-color: var(--cream);

    color: var(--purple) !important;
    padding: 1rem 3rem;
    border-radius: 10rem;
    text-transform: uppercase;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 1px;
    transition: all 0.2s ease;

    &.cream {
        background-color: var(--cream);
        border: 1px solid var(--cream);
        &:hover {
            color: var(--cream) !important;
        }
    }

    &.orange {
        background-color: var(--orange);
        border: 1px solid var(--orange);
        &:hover {
            color: var(--orange) !important;
        }
    }

    &.white {
        color: var(--purple);
        background-color: white;
    }
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
             Download Button
    <a href="" class="download-btn"></a> 
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.download-btn {
    display: flex;
    width: 4.25rem;
    height: 4.25rem;
    justify-content: center;
    align-items: center;
    background-color: white;
    background-image: url("data:image/svg+xml,%3Csvg width='13' height='13' viewBox='0 0 13 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.5 1.5V11.5L11.5 6.5' stroke='%23022169' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M6.5 11.5L1.5 6.5' stroke='%23022169' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 1.5rem;
    border-radius: 100%;
    box-shadow: 0px 4px 34px 0px rgba(0, 0, 0, 0.25);

    transition: transform 0.2s ease;

    &:hover {
        transform: scale(1.1);
    }
}