$text-primary: #3e0937;
$bg-secondary: #461f49;
$bg-ternary: #1f666e;
$bg-primary: #e6cfa1;

.highlights-section {
  display: grid;
  grid-template-columns: 1fr;
  gap: 30px;
  align-items: start;
  height: 330px;

  .highlights-content {
    padding-right: 5rem;

    .highlights-title {
      font-size: 3.12rem;
      font-weight: 400;
      color: $text-primary;
      margin-bottom: 1.25rem;
      line-height: 1.2;
    }

    .highlights-text {
      color: #2d1f3d;
      line-height: 1.6;
      margin-bottom: 30px;
      font-size: 1.1rem;
      width: 70%;
    }

    .explore-btn {
      display: inline-block;
      padding: 14px 32px;
      background: $bg-primary;
      color: $text-primary;
      text-decoration: none;
      border-radius: 30px;
      font-size: 0.85rem;
      font-weight: 600;
      letter-spacing: 0.5px;
      transition: all 0.3s ease;
      text-transform: uppercase;

      &:hover {
        transform: translateY(-2px);
        color: $text-primary;
      }
    }
  }

  .cards-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 20px;
    height: 100%;

    .card {
      position: relative;
      overflow: hidden;
      border-radius: 0.62rem;
      cursor: pointer;
      height: 100%;
      color: white;

      .card-content {
        position: relative;
        z-index: 2;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: end;
        justify-content: space-between;
        padding: 30px;
        color: white;

        h3 {
          font-size: 1.87rem;
          font-weight: 400;
          line-height: 1.2;
        }
      }

      .tri-image {
        position: absolute;
        left: -0rem;
        bottom: 0;
      }
    }

    .card-banking {
      background-color: $bg-secondary;
    }

    .card-investments {
      background-color: $bg-ternary;
    }
  }
}

@media (min-width: 768px) {
  .highlights-section {
    grid-template-columns: 400px 1fr;
  }
}

@media (max-width: 767px) {
  .stats-grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }

  .stat-number {
    font-size: 2.5rem;
  }

  .highlights-title {
    font-size: 2rem;
  }
}
