$text-primary: #461f49;

.stats-grid {
  display: flex;
  justify-content: space-between;
  gap: 2.5rem;
  margin-bottom: 5rem;

  .stat-item {
    position: relative;

    .stat-number {
      font-size: 4.3rem;
      font-weight: 400;
      color: $text-primary;
      margin-bottom: 0.5rem;
      position: relative;
      display: inline-block;

      img {
        width: 2.12rem;
        height: 2.5rem;
        position: absolute;
        top: -0.31rem;
        right: -1.25rem;
      }
    }

    .stat-description {
      font-size: 1.06rem;
      color: $text-primary;
      line-height: 1.4;
      max-width: 13.75rem;
    }
  }
}
