/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
                      Line Hover            
 ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.linehover-1 {
  overflow: hidden;
  display: block;
  padding-bottom: 1rem;
  cursor: pointer;
  position: relative;

  &::after,
  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: 0;
    left: 0;
  }

  &::after {
    background-color: rgba(0, 0, 0, 0.2);
  }

  &::before {
    background-color: #000;
    transition: transform 1.4s cubic-bezier(0.19, 1, 0.22, 1);
    transform: translateX(-101%);
  }

  &:hover {
    &::before {
      transform: translateX(0%);
      transition: transform 1400ms cubic-bezier(0.19, 1, 0.22, 1);
      transform-origin: left center;
    }
  }
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
                      Line Hover            
 ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.linehover {
  position: relative;
  outline: 0;
  cursor: pointer;
  padding-bottom: .25rem;
  transition: color .2s ease;
  width: fit-content;
  &::before {
    content: "";
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: var(--purple);
    transform-origin: right center;
    transform: scale(0, 1);
    transition: transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
  }

  &.white:hover {
    color: white;
  }

  &.cream:hover {
    color: var(--cream);
  }

  &.purple:hover {
    color: var(--purple);
  }

  &.green:hover {
    color: var(--green);
  }

  &.white::before {
    background-color: var(--white);
  }

  &.cream::before {
    background-color: var(--cream);
  }

  &.purple::before {
    background-color: var(--purple);
  }

  &.green::before {
    background-color: var(--green);
  }

  &.active::before,
  &:hover::before {
    transform-origin: left center;
    transform: scale(1, 1);
  }
}