/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
            Pagination  
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.tool-pagination {
    text-align: center;
    display: flex;
    justify-content: center;

    ul {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        width: 90%;

        li {
            margin-left: 1.5rem;
            list-style: none;
            margin-bottom: 1.5rem;

            a {
                border: 1px solid var(--blue);
                padding: 1.75rem;
                display: flex;
                align-items: center;
                justify-content: center;
                height: 3rem;
                width: 3rem;
                transition: background-color 0.2s ease;

                &:hover {
                    background-color: var(--orange);
                    border-color: var(--orange);
                    color: white;
                }
            }
        }

        .prev,
        .next {
            border: none;
            width: 100%;
            padding: 1rem;

            &:hover {
                background-color: transparent;
                color: black;
            }
        }
    }
}