.stroke-1 {
  -webkit-text-stroke: 0.5px gray;
}

.bg-white {
  background-color: white;
}

.text-white {
  color: white;
}

.bg-black {
  background-color: black;
}

.bg-coal{
  background-color: #131212;
}

.text-black {
  color: #000;
}