@use "../media" as *;

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
                Variables       
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

:root {
  --white: #ffffff;
  --black: #090a11;
  --light: #f1f2f9;

  --blue: #0044d8;
  --orange: #fe5c0e;

  --dark: #212434;
  --light-blue: #d7d7e8;
  --yellow: #ffba00;

  --grid-padding: 3.5vw;
  --section-padding: 10rem;

  --cb-m1: cubic-bezier(0.23, 1, 0.32, 1);
  --cb-m2: cubic-bezier(0, 0.96, 0.22, 1);
  --cb-m3: cubic-bezier(0.36, 0.07, 0.19, 0.97);
  --cb-m4: cubic-bezier(0.19, 1.51, 0.29, 0.99);

  @include media(">=phone", "<=tablet") {
    --grid-padding: 3vw;
    --section-padding: 8rem;
  }

  @include media("<phone") {
    --grid-padding: 3.5vw;
    --section-padding: 6.5rem;
  }
}

::selection {
  color: #fdfdfd;
  background: #0044d8;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
                  Colors
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.bg-white {
  background-color: var(--white);
  color: var(--black);
}

.text-white {
  color: var(--white);
}

.bg-black {
  background-color: var(--black);
  color: var(--white);
}

.text-black {
  color: var(--black);
}

.bg-light {
  background-color: var(--light);
  color: var(--black);
}

.bg-blue {
  background-color: var(--blue);
  color: var(--white);
}

.text-blue {
  color: var(--blue);
}