@use "../media" as *;

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
                Headings
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
}

h1 {
  font-size: 8rem;
  line-height: 1.1;
}

h2 {
  font-size: 5rem;
  line-height: 1.1;
  letter-spacing: -1px;
}

h3 {
  font-size: 3rem;
  line-height: 1.3;
  letter-spacing: -0.6px;
}

h4 {
  font-size: 2.8rem;
  line-height: 122%;
}

h5 {
  font-size: 2.5rem;
  line-height: 122%;
}

h6 {
  font-size: 2rem;
}

p,
a,
span {
  line-height: 1.3;
  font-size: 1.6rem;
  font-weight: 300;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
                  Mob & Tab
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

@include media("<=tablet") {
  h1 {
    font-size: 6rem;
  }

  h2 {
    font-size: 4.2rem;
  }

  h3 {
    font-size: 4.2rem;
  }
}


/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
                 Tiny Editor
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.tiny-editor {
  h1 {
    padding-bottom: 2.5rem;
  }

  h2,
  h3 {
    padding-bottom: 1.75rem;
  }

  h4,
  h5,
  h6,
  p {
    padding-bottom: 1.5rem;
  }

  p:last-child {
    padding-bottom: 0;
  }
}