/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
               Basic Typography Setting
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
}

p,
a,
span {
  font-weight: 400;
}

h1 {
  font-size: 6rem;
}

h2 {
  font-size: 5rem;
}

h3 {
  font-size: 4rem;
}

h4 {
  font-size: 3rem;
}

h5 {}

h6 {}

p,
li,
a {
  font-size: clamp(16px, 1.6rem, 22px);
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
             Tablet
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

@include media(">=phone", "<=tablet") {
  h1 {}

  h2 {}

  h3 {}

  h4 {}

  h5 {}

  h6 {}

  p {}

  a {}
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
             Phone
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

@include media("<phone") {
  h1 {}

  h2 {}

  h3 {}

  h4 {}

  h5 {}

  h6 {}

  p,
  li,
  a {
    font-size: clamp(15px, 1.8rem, 17px);
  }
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
                      Typography Util
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.text-upper {
  text-transform: uppercase !important;
}

.add-stroke {
  color: transparent !important;
  -webkit-text-stroke: 1px lightgray;
}

.ul-b {
  text-decoration: underline var(--default) 2px;
}

.first-letter:first-letter {
  color: red;
  float: left;
  font-size: 400%;
  line-height: 50%;
  padding-right: 0.5rem;
}

.fw-bold {
  font-weight: bold !important;
}

.lh-1 {
  line-height: 1 !important;
}