<section class="sy">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 tiny-editor">
                <h2>Highlights from Investor Relations</h2>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                    eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
                    minim veniam, quis nostrud exercitation ullamco
                </p>
                <a href="#" class="btn mt-5">Explore More</a>
            </div>

            <div class="col-lg-4">
                <div class="card card-banking">
                    <img src="/img/investment-partnership.svg" class="tri-image" alt="" />
                    <div class="card-content">
                        <h3 class="card-title">Corporate<br />Banking</h3>
                        <img src="/img/arrow.svg" alt="" />
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card card-investments">
                    <img src="/img/corporate-banking.svg" class="tri-image" alt="" />
                    <div class="card-content">
                        <h3 class="card-title">Investments &<br />Partnerships</h3>
                        <img src="/img/arrow.svg" alt="" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>