<section class="st">
  <div class="container has-bg min-vh-100"
    style="background-image: url('{{ theme.link ~ '/src/img/home/cloud-bg.jpg' }}');">
  
    <div class="row">
      <div class="col-lg-3">
        <div class="focus">35+</div>
        <p>Key stakeholders and business relationships spread across</p>
      </div>

      <div class="col-lg-3">
        <div class="focus">68,505</div>
        <p>
          Waste Treated <br />
          Annually (tons)
        </p>
      </div>

      <div class="col-lg-3 ps-lg-10 pt-15">
        <div class="focus">11</div>
        <p>
          Green Projects <br />
          Implemented (projects)
        </p>
      </div>

      <div class="col-lg-3 ps-lg-10 pt-15">
        <div class="focus">109</div>
        <p>Employees</p>
      </div>
    </div>

    <div class="row st">
      <div class="col-lg-12 pb-6">
        <h2>
          Highlights from <br />
          What We Do
        </h2>
      </div>

      <div class="col-lg-6 offset-lg-1 fwp-400">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
          minim veniam, quis nostrud exercitation ullamco
        </p>
      </div>

      <div class="col-lg-5 text-lg-end">
        <a href="#" class="btn cream">LEARN MORE</a>
      </div>
    </div>

    <div class="row g-5 sb pt-9 justify-content-between">
      <div class="col-lg-3 offset-lg-1">
        <div class="small-card blue">
          <img class="" src="{{theme.link ~ '/src/img/home/risk-management-img.jpg'}}" alt="" />
          <a href="#" class="arrow-svg"></a>
          <p class="px-4 py-6">
            Corporate Banking
          </p>
        </div>
      </div>

        <div class="col-lg-3 ">
        <div class="small-card orange">
         <img class="" src="{{theme.link ~ '/src/img/home/aml-img.jpg'}}" alt="" />
          <a href="#" class="arrow-svg"></a>
          <p class="px-4 py-6">
           Investments & Partnerships
          </p>
        </div>
      </div>


        <div class="col-lg-3  ">
        <div class="small-card green">
           <img class="" src="{{theme.link ~ '/src/img/home/ir-report-img.jpg'}}" alt="" />
          <a href="#" class="arrow-svg"></a>
          <p class="px-4 py-6">
           Treasury and Capital Markets
          </p>
        </div>
      </div>



      
    </div>
  </div>
</section>