<section>
    <div class="container has-bg"
        style="background-image: url('{{ theme.link ~ '/src/img/home/home-impact-bg.jpg' }}');">

        <div class="row g-0 sy">
            <div class="col-lg-4">
                <div class="green-border-left h-100">
                    <div class="rounded-green h-100">

                    </div>
                </div>

            </div>
            <div class="col-lg-8 green-border-right bg-green p-6">
                <div class="tiny-editor ps-lg-10 py-10 w-lg-75">
                    <h2>
                        Highlights from Impact and lorem ipsum sustainability
                    </h2>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                    </p>
                    <a href="#" class="btn white mt-6">EXplore More</a>
                </div>
            </div>
        </div>

    </div>
</section>