<section class="st">
  <div class="container">
    <div class="row g-0 p-10 bg-sky-blue position-relative rounded-1">
      <div class="col-lg-6 tiny-editor fwp-400">
        <h3>Partners</h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
          minim veniam, quis nostrud exercitation ullamco
        </p>
      </div>

      <div class="col-lg-6 my-auto text-end">
        <a href="#" class="btn z-10"> Explore more </a>
      </div>
    </div>
  </div>
</section>
