/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
             1. digonal-layout.php                 
 ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

@media (min-width: 1179px) {
    .digonal {
        background: linear-gradient(to top left, black calc(50% - 1px), #ff0000, black calc(50% + 1px));
    }
}




/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
              Ellipse                 
 ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.ellipse-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  h2 {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 3;
      text-align: center;
  }
}

.ellipse {
  transform: rotate(15deg);
  clip-path: ellipse(100% 100% at 50% 50%);
  width: 75%;
  transition: clip-path 1.5s var(--cb-m3);

  img {
      transform: rotate(-15deg);
  }

  @include media(">tablet") {
      width: 60%;
  }

  &.entered {
      clip-path: ellipse(48% 45% at 50% 50%);
  }

  // &:hover {
  //     transition: clip-path 1s var(--cb-m3);
  //     clip-path: ellipse(100% 100% at 50% 50%);
  // }
}


/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
             3. Grain.php                  
 ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/


.app-filter {
    // background-image: url(../../../img/bg/grain.png);
    background-repeat: repeat;
    width: 100vw;
    height: 100vh;
    // position: fixed;
    pointer-events: none;
    z-index: 99999999;
  }
  
  .wall-filter {
    // background-image: url(../../../img/bg/wall.png);
    background-repeat: repeat;
    background-color: #fefefe;
    // position: fixed;
    width: 100%;
    height: 100vh;
    pointer-events: none;
  }
  