@use "../media" as *;

.swiper {

  .next,
  .prev {
    cursor: pointer;
  }
}

.swiper-pagination-bullet {
  background-color: gray;
}

.nav {
  display: inline-flex;
  z-index: 3;

  .next,
  .prev {
    cursor: pointer;

    &:hover {
      .btn-arrow {
        border-color: var(--orange);
      }

      svg {
        fill: var(--orange);
      }
    }
  }

  .prev {
    svg {
      transform: rotate(180deg);
    }
  }

  .next {
    svg {
      transform: rotate(0deg);
    }
  }
}

.btn-arrow {
  border: 1px solid black;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3.5rem;
  width: 3.5rem;

  svg {
    transform: rotate(-45deg);
    height: 2.2rem;
    width: 2.2rem;
    fill: black;
    transition: transform 0.2s ease;
  }
}

.img-detect {
  position: relative;

  .arrow {
    position: absolute;
    bottom: 5%;
    right: 5%;
    z-index: 22;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: var(--orange);
    height: 6rem;
    width: 6rem;
    transform: translate(-100%, 130%);
    transition: transform 0.2s ease;

    svg {
      height: 2rem;
      width: 2rem;
      transform: rotate(-45deg);
      fill: white;
    }
  }

  &:hover .arrow {
    transform: translate(0, 0);
  }

  @include media("<=tablet") {
    .arrow {
      transform: translate(0, 0) !important;
    }
  }
}

.date {
  display: flex;
  align-items: center;
  padding-top: 1.6rem;

  span {
    color: var(--black);
    font-weight: 300;
    font-size: 1.6rem;
    padding-right: 2rem;

    &:nth-child(1) {
      position: relative;

      &::after {
        content: "";
        position: absolute;
        top: 10%;
        right: 1rem;
        width: 2px;
        height: 90%;
        background-color: var(--orange);
      }
    }
  }
}

.swiper-pagination {
  position: static;
  width: fit-content !important;
  border-radius: 6rem;
  padding: 1.15rem 1.5rem;
  background-color: #eaeaea !important;

  .swiper-pagination-bullet {
    background-color: #4a22444e !important;
    height: 0.75rem;
  }

  .swiper-pagination-bullet-active {
    width: 2.5rem;

    border-radius: 1rem;
  }
}







.tab-menu {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  h6 {
    font-weight: 500;
    opacity: 0.5;
    padding-bottom: 4rem;
    cursor: pointer;

    position: relative;

    &::after {
      content: "";
      position: absolute;
      top: auto;
      bottom: 0.35rem;

      opacity: 0;
      left: 50%;
      // transform: translate(-50%, -50%);

      width: 1rem;
      height: 1rem;
      border-radius: 50%;
      background-color: var(--purple);
    }

    &.active {
      opacity: 1;

      &::after {
        opacity: 1;
      }
    }
  }

  &::after {
    content: "";
    position: absolute;
    top: auto;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1rem;
    background-image: url("data:image/svg+xml,%3Csvg width='1280' height='2' viewBox='0 0 1280 2' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cline y1='1' x2='1280' y2='1' stroke='%233E0937' stroke-width='2' stroke-dasharray='1 11'/%3E%3C/svg%3E");
    background-repeat: repeat-x;
  }
}