@use "./media" as *;

// Compliance & AML page specific styles
.img-box {
  width: 100%;
  height: 100%;
  max-width: 778.77px;
  max-height: 375px;
 
  border: 2px solid red;
  margin-block: 3rem;

  img{
      width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
  }
}