@use "./media" as *;

// Compliance & AML page specific styles
.img-box {
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 778.77px;
  max-height: 375px;
  border: 2px solid red;
  margin-block: 3rem;

  img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
  }

  .map-label {
    position: absolute;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 0.5rem;
    color:#3E0937; // Bootstrap text color
    font-weight: 500;
    transform: translate(-50%, -50%); // center around coordinates

    .dot {
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background-color: #dc3545; // Bootstrap 'danger' red
    }
    .label-text{
        font-size: 1.45rem;
    }
  }
}
