@use "./media" as *;

// Compliance & AML page specific styles
.img-box {
  width: 100%;
  height: 100%;
  max-width: 778.77px;
  max-height: 375px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border: 2px solid red;
  margin-block: 3rem;
}