@use "./media" as *;

// Contact page specific styles\


.mask {
    mask: url("data:image/svg+xml,<svg width='531' height='531' viewBox='0 0 531 531' fill='none' xmlns='http://www.w3.org/2000/svg'><g clip-path='url(%23clip0_1032_1163)'><path d='M540.774 551.597L540.774 62.726L102.263 22.3692C42.3805 22.2113 4.7966 86.9159 34.599 138.854L229.47 551.597L540.774 551.597Z' fill='black'/></g><defs><clipPath id='clip0_1032_1163'><rect width='531' height='531' fill='white'/></clipPath></defs></svg>") no-repeat;
    mask-size: 100%;

    width: 70rem;
    height: 70rem;
    object-fit: cover;
    object-position: left;

}


.location-divs{
    position: relative;
    overflow: visible;
    p{
        opacity: .5;
        max-width: 40rem;
        padding-top: 1rem;
    }
    a{
        color: var(--cream);
    }
    
.c-svg {
    position: absolute;
    top: -10%;
    right: 20%;
    pointer-events: none;


}
}


.contact-icons {
 height: 3rem;
 
}







.orange-card {
  background-color: #c75010;
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
    color: white;
  img {
    position: absolute;
    right: 0;
    top: 0;
    width: auto;
    height: 52.5rem;
    pointer-events: none;
  }
}