@use "./media" as *;

// Contact page specific styles\




 

.mask-t {
    mask: url("data:image/svg+xml,<svg width='235' height='281' viewBox='0 0 235 281' fill='none' xmlns='http://www.w3.org/2000/svg'><mask id='mask0_1405_2656' style='mask-type:luminance' maskUnits='userSpaceOnUse' x='0' y='0' width='235' height='281'><path d='M235 0H0V281H235V0Z' fill='white'/></mask><g mask='url(%23mask0_1405_2656)'><path d='M218.561 135.569L1.90029 1.24663C-19.7372 -12.1679 -47.6155 3.83042 -46.9502 29.2802L-39.9724 296.181C-39.3233 321.007 -11.8725 335.664 9.11796 322.392L218.801 189.814C238.77 177.188 238.641 148.018 218.561 135.569Z' fill='black'/></g></svg>") no-repeat;
    mask-size: 100%;

    width: 23.5rem;
    height: 28rem;
    object-fit: cover;
    object-position: left;

}








.location-divs{
    position: relative;
    overflow: visible;
    p{
        opacity: .5;
        max-width: 40rem;
        padding-top: 1rem;
    }
    a{
        color: var(--cream);
    }
    
.c-svg {
    position: absolute;
    top: -10%;
    right: 20%;
    pointer-events: none;


}
}


.contact-icons {
 height: 3rem;
 
}





