@use "./media" as *;

// FAQ page specific styles
.faq-card p {
  padding-right: 2.5rem;
  font-size: 1.45rem;

}

.textContent p {
  color: #E6CFA1;
  margin-inline: auto;
  max-width: 768px;
  padding-inline: 6rem;
}