@use "./media" as *;

.op-p-50 {
  p {
    opacity: 50%;
  }
}

.bg-gradient {
  background: linear-gradient(
    209.9deg,
    #f9f5f6 -11.15%,
    #843e5a 50.66%,
    #3e0937 107.68%
  );
}

.banner {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: white;
}

.space {
  p {
    padding-top: 5rem;
    margin-bottom: 1rem;
  }
}
