@use "./media" as *;

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
                   Inner Banner               
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
.inner-banner {
    background-size: cover;
    background-position: center;
    color: white;
    .row {
        min-height: 50rem;
        h1,
        p {
            max-width: 60rem;
            padding-bottom: 1rem;
        }
    }
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
                  Single Column              
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.single-column {
    &.has-bg {
        background-size: cover;
        background-position: center;
        min-height: 45vh;
        background-color: lightgray;
        color: white;
    }
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
                  Two Column            
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.two-column-img {
    .tiny-editor {
        padding-right: 3.5rem;

        @include media("<=tablet") {
            padding-bottom: 4rem;
        }
    }
}

@include media(">tablet") {
    .two-column-img.right {
        .row {
            flex-direction: row-reverse !important;

            .tiny-editor {
                padding-right: 0;
                padding-left: 3rem;
            }
        }
    }
}

.two-column-img.v2 {
    .container {
        padding: 0 !important;
    }
    .tiny-editor {
        background-color: var(--light1);
        padding: var(--grid-padding) !important;
    }

    .tc-img {
        background-color: var(--blue1);
        padding: 0;   
        @include media("<=tablet") {
            padding: var(--grid-padding);
        }
    }
}