@use "./media" as *;

.banner-layer {
    position: absolute;
    top: 2%;
    right: 10%;
    transform: rotate(-12deg);
    z-index: 151;
    max-width: 75vw;
    pointer-events: none;
}

.has-layer {
    position: relative;

    &::after {
        content: "";
        position: absolute;
        top: auto;
        bottom: 0;
        left: 0;
        pointer-events: none;
        width: 100%;
        height: 30%;
        background: linear-gradient(180deg, rgba(62, 9, 55, 0) 0%, #3e0937 71.87%);
    }
}

.home-section-3 {
    min-height: 65rem;
    overflow: visible;

    .home-img-3 {
        position: absolute;
        left: 0;
        top: -25rem;
        z-index: 20;
        pointer-events: none;
    }
}

.z-100 {
    position: relative;
    z-index: 50;
}

.banner-layer-1 {
    top: 30rem;
    left: -20%;
    position: absolute;
    width: 140vw;
    max-width: 140vw;
    pointer-events: none;
}

.banner-content {
    position: absolute;
    top: 20rem;
    z-index: 22;
    left: var(--grid-padding);

    p,
    a,
    h2,
    h3,
    h4 {
        margin-left: 10%;
    }

    p {
        max-width: 75%;
    }
}

.home-banner {
    position: relative;
    z-index: 12;

    // overflow: hidden;
    .video-wrapper {
        opacity: 0.6;
    }

    .vidHome {
        position: relative;
        width: 100vw;
        height: 100vh;
        height: 100dvh;
        overflow: hidden;
        z-index: 10;
        pointer-events: none;

        iframe {
            transition: opacity 0.5s ease;
            pointer-events: none;
            width: 100vw;
            height: 56.25vw;
            min-height: 100vh;
            min-width: 177.77vh;
            position: absolute;
            display: block;
            z-index: 9;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        @include media("<=tablet") {
            height: 60rem !important;
        }
    }
}


 

.mask-t {
    mask: url("data:image/svg+xml,<svg width='235' height='281' viewBox='0 0 235 281' fill='none' xmlns='http://www.w3.org/2000/svg'><mask id='mask0_1405_2656' style='mask-type:luminance' maskUnits='userSpaceOnUse' x='0' y='0' width='235' height='281'><path d='M235 0H0V281H235V0Z' fill='white'/></mask><g mask='url(%23mask0_1405_2656)'><path d='M218.561 135.569L1.90029 1.24663C-19.7372 -12.1679 -47.6155 3.83042 -46.9502 29.2802L-39.9724 296.181C-39.3233 321.007 -11.8725 335.664 9.11796 322.392L218.801 189.814C238.77 177.188 238.641 148.018 218.561 135.569Z' fill='black'/></g></svg>") no-repeat;
    mask-size: 100%;
    width: 23.5rem;
    height: 28rem;
    object-fit: cover;
    object-position: left;
}







/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
                Life Section            
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.life-container {
    .row {
        background-position: 75% 100%;
        background-repeat: no-repeat;
        background-size: contain;
    }
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
                  Card Section            
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.small-card {
    width: 100%;
    padding: 0;
    position: relative;
    overflow: hidden;
    color: white;
    border-radius: 2rem !important;

    img {
        height: 20rem;
        width: 100%;
    }

    .arrow-svg {
        position: relative;

        &::after {
            content: "";
            position: absolute;
            margin-top: 2rem;
            right: 2rem;
            width: 1.8rem;
            height: 1.8rem;
            background-repeat: no-repeat;
            background-size: contain;
            background-image: url("data:image/svg+xml,%3Csvg%20width%3D%2218%22%20height%3D%2219%22%20viewBox%3D%220%200%2018%2019%22%20fill%3D%22none%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%3Cpath%20d%3D%22M18%201.29102C18%200.738731%2017.5523%200.291016%2017%200.291016H8C7.44772%200.291016%207%200.738731%207%201.29102C7%201.8433%207.44772%202.29102%208%202.29102H16V10.291C16%2010.8433%2016.4477%2011.291%2017%2011.291C17.5523%2011.291%2018%2010.8433%2018%2010.291V1.29102ZM0.292893%2016.5839C-0.0976311%2016.9744%20-0.0976311%2017.6076%200.292893%2017.9981C0.683417%2018.3886%201.31658%2018.3886%201.70711%2017.9981L1%2017.291L0.292893%2016.5839ZM17%201.29102L16.2929%200.583909L0.292893%2016.5839L1%2017.291L1.70711%2017.9981L17.7071%201.99812L17%201.29102Z%22%20fill%3D%22white%22/%3E%3C/svg%3E");
        }
    }

    &.blue {
        background-color: #1c787b;
    }

    &.orange {
        background-color: #c75110;
    }

    &.green {
        background-color: #525e26;
    }
}

.press-card {
    background-color: #ede9ed;
    padding: 2rem;
    border-radius: 2rem !important;

    p {
        font-weight: 400;
    }
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
          Tags         
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.tags {
    display: flex;
    gap: 1rem;

    span {
        border: 1px solid var(--orange);
        border-radius: 5rem;
        padding: 0.5rem 1.5rem;
        font-size: 1.2rem;
        font-weight: 400;
        text-transform: uppercase;
        white-space: nowrap;
    }

    &.purple span {
        border: 1px solid #461f49;
        color: #461f49;
    }
}

.pink-card {
    background-color: rgba(199, 80, 16, 0.3);
    padding: 2rem;

    * {
        color: var(--orange);
    }
}

.fwp-400 {
    p {
        font-weight: 400;
    }
}

.orange-border {
    border: 1px solid var(--orange);
    padding: 2rem;
}

.bg-sky-blue {
    background-color: #8bbabb;
    position: relative;
    overflow: hidden;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: auto;
        opacity: 0.5;
        right: 0;
        bottom: 0;
        width: 40rem;
        background-image: radial-gradient(circle, white 2px, transparent 2px);
        background-size: 20px 20px;
        pointer-events: none;
        z-index: 0;
    }

    &::after {
        content: "";
        position: absolute;
        top: 0;
        left: auto;
        right: 20%;
        width: 20rem;
        height: 100%;
        background: #8bbabb;
        filter: blur(52px);
        z-index: 1;
    }
}

.rounded-1 {
    border-radius: 1rem;
}

.focus {
    position: relative;
    font-size: 7rem;
    padding-top: 4rem;
    padding-right: 4rem;
    display: inline-block;

    &::after {
        content: "";
        position: absolute;
        top: 0;
        right: 0px;
        width: 9rem;
        height: 9rem;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        background-image: url('data:image/svg+xml,<svg width="312" height="323" viewBox="0 0 312 323" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M5 123.019L267.827 13.921C285.497 6.58602 303.912 22.6873 299.001 41.1788L225.13 319.321" stroke="url(%23paint0_linear_622_624)" stroke-width="23.0943"/><defs><linearGradient id="paint0_linear_622_624" x1="293.546" y1="12.4858" x2="134.209" y2="211.755" gradientUnits="userSpaceOnUse"><stop stop-color="%234A2244"/><stop offset="1" stop-color="white" stop-opacity="0"/></linearGradient></defs></svg>');
    }

    &.orange::after {
        top: 1rem;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        background-image: url('data:image/svg+xml,<svg width="312" height="323" viewBox="0 0 312 323" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M5 123.019L267.827 13.921C285.497 6.58602 303.912 22.6873 299.001 41.1788L225.13 319.321" stroke="url(%23paint0_linear_622_624)" stroke-width="23.0943"/><defs><linearGradient id="paint0_linear_622_624" x1="293.546" y1="12.4858" x2="134.209" y2="211.755" gradientUnits="userSpaceOnUse"><stop stop-color="%23C75010"/><stop offset="1" stop-color="white" stop-opacity="0"/></linearGradient></defs></svg>');
    }
}

@include media(">tablet") {
    .pt-15 {
        padding-top: 15rem;
    }
}

.card {
    position: relative;
    display: block;
    overflow: hidden;
    border-radius: 0.62rem;
    cursor: pointer;
    height: 100%;
    color: white;
    padding-top: 5rem;

    h3 {
        position: absolute;
        top: 7%;
        left: 25%;
    }

    
    &::after {
         content: "";
         position: absolute;

         right: 10%;
         bottom: 10%;
         width: 2rem;
         height: 2rem;
        background-image: url("data:image/svg+xml,%3Csvg%20width%3D%2222%22%20height%3D%2220%22%20viewBox%3D%220%200%2022%2020%22%20fill%3D%22none%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%3Cpath%20d%3D%22M12.379%2019.0918L10.7383%2017.4725L17.4926%2010.7182H-0.000303268V8.37447H17.4926L10.7383%201.64151L12.379%200.000888109L21.9244%209.54634L12.379%2019.0918Z%22%20fill%3D%22white%22/%3E%3C/svg%3E");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        
    }







}

.card-banking {
    background-color: #461f49;
}

.card-investments {
    background-color: #1f666e;
}

.green-border-left {
    border-top-left-radius: 2rem;
    border-bottom-left-radius: 2rem;
    border: 2rem solid var(--green);
}

.green-border-right {
    border-top-right-radius: 2rem;
    border-bottom-right-radius: 2rem;
}

.rounded-green {
    position: relative;
}