/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
                    General                
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

@use "./typography/color.scss" as *;

@use "./general/reset.scss" as *;

@use "./general/general.scss" as *;

@use "./general/helper.scss" as *;

@use "./general/hide-scrollbar.scss" as *;

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
                    Bootstrap                 
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

@use "./bootstrap/bs-grid.scss" as *;

@use "./bootstrap/bs-util.scss" as *;

@use "./bootstrap/bs-en.scss" as *;

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
                   Typography                     
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

@use "./typography/typography.scss" as *;

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
                     Components
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

@use "./components/text-hover.scss" as *;

@use "./components/btn.scss" as *;

@use "./components/line-draw.scss" as *;

@use "./components/animation.scss" as *;

@use "./components/table.scss" as *;

/*my custom scss desinging for the html file*/

$primary-color: #6366f1;
$text-dark: #1f2937;
$text-light: #6b7280;
$bg-light: #f9fafb;
$card-bg: #ffffff;

$icon-bg-blue: #dbeafe;
$icon-blue: #3b82f6;

$icon-bg-green: #d1fae5;
$icon-green: #10b981;

$icon-bg-purple: #e0e7ff;
$icon-purple: #6366f1;

body {
  font-family: "Montserrat", sans-serif;
  background-color: $bg-light;
  color: $text-dark;
}

.hero-section {
  display: flex;
  justify-content: center;
  background-color: pink;
  text-align: center;
}
