/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
                    General                
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

@use "./typography/color.scss" as *;

@use "./general/reset.scss" as *;

@use "./general/general.scss" as *;

@use "./general/helper.scss" as *;

@use "./general/hide-scrollbar.scss" as *;

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
                    Bootstrap                 
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

@use "./bootstrap/bs-grid.scss" as *;

@use "./bootstrap/bs-util.scss" as *;

@use "./bootstrap/bs-en.scss" as *;

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
                   Typography                     
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

@use "./typography/typography.scss" as *;

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
                     Components
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

@use "./components/text-hover.scss" as *;

@use "./components/btn.scss" as *;

@use "./components/line-draw.scss" as *;

@use "./components/animation.scss" as *;

@use "./components/table.scss" as *;

@use "./components/search-bar.scss" as *;

@use "./components/resource-card.scss" as *;

/*my custom scss desinging for the html file*/

$primary-color: #6366f1;
$text-dark: #1f2937;
$text-light: #6b7280;
$bg-light: #f6f9f9;
$card-bg: #ffffff;
$border: #9fadbd3d;

$icon-bg-blue: #dbeafe;
$icon-blue: #3b82f6;

$icon-bg-green: #d1fae5;
$icon-green: #10b981;

$icon-bg-purple: #e0e7ff;
$icon-purple: #6366f1;

html {
  body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      "Helvetica Neue", Arial, sans-serif;
    background-color: #f6f9f9;
    color: #333;
  }
}

.container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding-top: 30px;

  .header {
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;

    h1 {
      font-size: 48px;
    }
    p {
      font-size: 18px;
      color: #41464f;
    }
  }
}

