<section class="bg-white sy">
    <div class="container">
        <div class="tab-slider">
            <div class="row">
                <div class="col-lg-2">
                    <h4 class="tab-btn pb-4 active" data-index="0">Slide 1</h4>
                    <h4 class="tab-btn pb-4" data-index="1">Slide 2 </h4>
                </div>
                <div class="col-lg-8 offset-lg-2">
                    <div class="swiper">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <img src="{{ theme.link ~ '/src/img/1.jpg'}}" />
                            </div>
                            <div class="swiper-slide">
                                <img src="{{ theme.link ~ '/src/img/1.jpg'}}" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>