{% extends "base.twig" %}
{% block content %}
	<section class="pt details-page">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-lg-9">
					{{ post.content }}
				</div>
			</div> 
		</div>
	</section>
{% endblock %}