.accordion {
  padding-left: 0;
  list-style-type: none;

  &>li {
    position: relative;
    border: 1px solid white;
    margin-bottom: 2rem;
    border-radius: 2rem;
    padding-left: 3rem;
    padding-right: 3rem;

  }



  .accordian-title {
    display: flex;
    justify-content: space-between;
    align-items: center;

    cursor: pointer;
    padding: 1.5% 0;

    opacity: 1;
    transition: opacity 0.5s ease;

    h5 {
      width: 95%;
    }

    .more {
      transition: all 0.3s ease;
      opacity: 1;
      font-size: 3rem;
      line-height: 1;
      border-radius: 50%;
      border: 1.5px solid rgba(255, 255, 255, 0.173);
      height: 4rem;
      width: 4rem;
      display: flex;
      align-items: center;
      justify-content: center;

      svg {
        height: 1rem;
        width: 1rem;
        fill: white;
        transform: rotate(90deg);
        transition: transform 0.2s ease;
      }
    }
  }

  .accordion_item {
    border-bottom: 1px solid #0000001e;
    overflow: hidden;
    height: 0;

    p {
      padding-bottom: 3rem;
    }

    p,
    li,
    span {
      opacity: .5;
    }
  }

  // if you want to select one item add selected class in li

  li.selected {
    .accordion_item {
      height: auto;
    }

    .more {
      svg {
        transform: rotate(-90deg);
        transition: transform 0.2s ease;
      }
    }
  }
}