.accordion {
  padding-left: 0;
  list-style-type: none;

  &>li {
    position: relative;
  }

  li:first-child {
    .accordian-title {
      border-top: 1px solid #0000001e;
    }
  }

  .accordian-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
   
    cursor: pointer;
    padding: 1.5% 0;

    opacity: 1;
    transition: opacity 0.5s ease;

    h5 {
      width: 95%;
    }

    .more {
      transition: all 0.3s ease;
      opacity: 1;
      font-size: 3rem;
      line-height: 1;

      svg {
        height: 1.5rem;
        width: 1.5rem;
        fill: black;
        transform: rotate(90deg);
        transition: transform 0.2s ease;
      }
    }
  }

  .accordion_item {
    border-bottom: 1px solid #0000001e;
    overflow: hidden;
    height: 0;

    p {
      padding-bottom: 3rem;
    }
  }

  // if you want to select one item add selected class in li

  li.selected {
    .accordion_item {
      height: auto;
    }

    .more {
      svg {
        transform: rotate(-90deg);
        transition: transform 0.2s ease;
      }
    }
  }
}