form {


  input,
  select,
  textarea {
    width: 100%;
    padding: 1.5% 1%;
    border: 1px solid gray;
  }

  input[type="checkbox"] {
    width: auto;
  }

  input[type="submit"] {
    cursor: pointer;
    text-indent: 0 !important;
  }

  select {
    appearance: none;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23765496' viewBox='0 0 512 512'%3E%3Cpath d='M233.4 406.6c12.5 12.5 32.8 12.5 45.3 0l192-192c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L256 338.7 86.6 169.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l192 192z' /%3E%3C/svg%3E");
    // 💡 fill --> %23 means 👉 #  fill='%23765496'
    background-size: 1rem;
    background-repeat: no-repeat;
    background-position: 96% center;
    padding-right: 2rem;
  }
}
