@use "../media" as *;


form.line-form {
  --red: #440707;
  input {
    border: none;
  }

  textarea{
    border-color: gray;
    color: black;
  }

  .lf-field {
    position: relative;
    padding: 0 !important;
  }

  .lf-input {
    width: 100%;
    padding: 0;
    text-indent: 0;
    margin: 0;
    height: 3rem;
    line-height: 3rem;
  }
}

.lf-line {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;

  &,
  &::before,
  &::after {
    position: absolute;
    pointer-events: none;
  }

  &::after,
  &::before {
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: calc(100% - 2px);
  }

  &::after {
    border-bottom: 1.34px solid red;
    transform: translate3d(-101%, 0, 0);
    transition: transform 800ms cubic-bezier(0.19, 1, 0.22, 1);
  }

  &::before {
    border-bottom: 1.34px solid #dadada;
    @include media("<=tablet") {
      border-bottom: 1.34px solid red;
    }
  }
}

.lf-input:focus ~ .lf-line::after {
  transform: translate3d(0, 0, 0);
}
